body {
    display: flex;
    background-color: darkblue;
    justify-content: center;
    flex-direction: row;
}

.cuerpoP1 {
    display: flex;
    background-color: black;
    height: 600px;
    width: 400px;
    border-radius: 50%;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
}

.cuerpoP2 {
    display: flex;
    background-color: white;
    height: 550px;
    width: 350px;
    border-radius: 50%;
    flex-direction: column;
}

.ojos {
    display: flex ;
    justify-content: space-evenly;
    margin-top: 50px;
}

.ojo1 ,
.ojo2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid black;
    background-color: white;
}

.pico {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid orange;
    transform: rotate(180deg);
    align-self: center;
}

.pico:nth-child(2) {
    transform: rotate(0deg);
}

.patas {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 80px solid orange;
    margin-top: 550px;
    transform: scaleX(-1);
    margin-right: 35px;
    position: relative;
    justify-content: space-around;
}

.patas:nth-child(2) {
    transform: scaleX(1);
    margin-left: 35px;
}

.ala1 {
    height: 360px;
    width: 70px;
    background-color: black;
    border-radius: 50%;
    transform: rotate(10deg);
    position: absolute;
    margin-top: 180px;
    margin-right: 420px;
}

.ala2 {
    height: 360px;
    width: 70px;
    background-color: black;
    border-radius: 50%;
    transform: rotate(-10deg);
    position: absolute;
    margin-top: 180px;
    margin-left: 420px;
}